/*------------------------------------*\
  $VARIABLES
\*------------------------------------*/

/*------------------------------------*\
  $SPACER
\*------------------------------------*/
$px1: 2px;
$px2: 4px;
$px3: 6px;
$px4: 8px;
$px5: 16px;
/*------------------------------------*\
  $COLOR
\*------------------------------------*/
$primary-color: #ff7635;
$secondary-color: #fdaa7d;
$danger-color: #fd4d4f;
$success-color: #00970f;
$background-color: #f7f7f7;
$text-primary-color: #4d4d4d;
$text-secondary-color: #bfbfbf;
$border-color: #eee;
$text-white-color: #fff;
$content-bg-color: #fff8f5;
/*------------------------------------*\
  $FONT-SIZE
\*------------------------------------*/
$fz1: 18px;
$fz2: 16px;
$fz3: 20px;
$fz4: 22px;
$fz5: 30px;
$fz6: 17px;
$fz7: 45px;
$fz8: 15px;
$fz9: 14px;
$fz10: 26px;
$fz11: 24px;
$fz12: 80px;
$fz13: 12px;
$fz14: 13px;

// padding: $px4;
// padding: 0 $px4 0 0; → padding: 0 8px 0 0;
// background-color: $primary-color;
