/*------------------------------------*\
  $BASE
\*------------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Microsoft JhengHei', Roboto, 'Helvetica Neue', Arial, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
button {
  border: none;
}
input {
  color: $text-primary-color;
  font-size: $fz2;
}
::placeholder {
  color: $text-secondary-color;
  opacity: 1; /* Firefox */
  font-size: $fz2;
}
::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: $text-secondary-color;
  font-size: $fz2;
}
td,
th {
  vertical-align: middle;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
svg:not(:root) {
  overflow: visible;
}

.grabbing * {
  cursor: grabbing;
}
